// color
$main-color: #FF6060;
$grey: rgba(227, 227, 227, 1);
$grey-light: rgba(246, 246, 246, 0.45);
// gradient
$color-gradient-start: rgba(255, 255, 255, 0);
$color-gradient-middle-1: rgba(10, 10, 10, 0);
$color-gradient-middle-2: rgba(4, 4, 4, 0.41);
$color-gradient-end: rgba(0, 0, 0, 1);
@mixin color-gradient {
    background: linear-gradient(
        180deg,
        $color-gradient-start 0%,
        $color-gradient-middle-1 33%,
        $color-gradient-middle-2 66%,
        $color-gradient-end 100%
    );
}

// radius
$radius-box: 25px;
$radius-card: 10px;
$radius-rounded: 50%;

// padding/margin
$margin-main: 50px 100px;
$gap-main: 50px;
$margin-main-mobile: 20px;
$gap-main-mobile: 20px;

// font
@mixin font ($size, $weight){
    font-family: 'monsterat', sans-serif;
    line-height: 143%;
    font-size: $size;
    font-weight: $weight;
}

// flexbox
@mixin flex ($direction, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

// background
@mixin background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// responsive
@mixin responsive {
    @media (max-width: 768px) { 
        @content;
    }
}


// Global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Components
.header {
    @include flex (row, space-between, center, 0);
    margin: $margin-main;
    @include responsive {
        margin: $margin-main-mobile;
    };


    &__logo {
        height: 68px;
        width: auto;
        @include responsive {
            width: 145px;
        }
    }

    &__navbar{
        @include flex (row, center, center, 57px);
        @include responsive {
            gap: 26px;
        }

        &__link {
            @include font(24px, 500);
            text-decoration: none;
            color: black;
            width: 100%;
            white-space: nowrap;
            @include responsive {
                font-size: 12px;
                text-transform: uppercase;
                text-align: end;
            }
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.footer {
    @include flex (column, center, center, 24px);
    @include font(24px, 500); 
    background-color: black;
    color: white;
    height: 209px;
    @include responsive {
        font-size: 12px;
    }

    &__text {
        @include responsive {
            width: 30%;
            text-align: center;
        }
    }
}
.banner {
    @include responsive {
        height: 111px;
    };
    @include background-image;
    height: 223px;
    width: 100%;
    border-radius: $radius-box;

    &__overlay {
        @include flex(column, center ,center ,0);
        background-color: rgba($color: #000000, $alpha: 0.6);
        width: 100%;
        height: 100%;
        padding: 0 30px;
        border-radius: $radius-box;
        @include responsive {
            align-items: start;
        }

        &__title {
            @include font(48px, 700);
            @include responsive {
                @include font(24px, 700);
            };
        }
    }
}
.collapse {
    @include flex (column, normal, normal, 0);

    &__title {
        background-color: $main-color;
        color: white;
        @include flex (row, space-between, center, 0);
        padding: 10px 20px;
        border-radius: 5px;
        width: 100%;
        height: 100%;

        &__text {
            @include font(18px, 700);
            @include responsive {
                font-size: 13px
            }
        }
        &__icon {
            @include flex (row, center, center, 0);
            width: 24px;
            fill: currentColor;
            @include responsive {
                width: 16px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__content {
        background-color: $grey-light;
        border-radius: 10px 10px 5px 5px;

        &__text {
            @include font(18px, 400);
            padding: 10px;   
            @include responsive {
                font-size: 12px;
            }         
        }
    }
}
.slideshow {
    @include background-image;
    height: 415px;
    width: 100%;
    border-radius: $radius-box;
    @include flex (row, space-between, center, 0);
    @include responsive {
        height: 255px;
        border-radius: $radius-card;
    }

    &__arrow {
        width: 48px;
        height: 80px;
        margin: 20px;
        @include responsive {
            height: 20px;
            width: 12px;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

// Pages
.home {  
    @include flex (column, center, center, $gap-main);
    margin: $margin-main;
    color: white;
    @include responsive {
        margin: $margin-main-mobile;
        gap: $gap-main-mobile;
    };

    &__content {
        width: 100%;
        background-color: rgba(246, 246, 246, 0.45);
        border-radius: $radius-box;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding: 50px;
        @include responsive {
            @include flex(column, center, center, $gap-main-mobile);
            background-color: currentColor;
            padding: 0;
        }
    
        &__card {
            height: 340px;
            width: 100%;
            border-radius: 10px;
            @include background-image;
            @include responsive{
                height: 255px;
            }

            &__overlay {
                @include color-gradient;
                @include flex (row, left, end, 0);
                width: 100%;
                height: 100%;
                border-radius: $radius-card;
                color: white;
                text-decoration: none;
                &hover {
                    cursor: pointer;
                }
    
                &__title {
                    @include font(18px, 700);
                    margin: 10px;
                    width: 100%;
                }    
            }
        }
    }
}
.rent {
    @include flex (column, normal, normal, $gap-main);
    margin: $margin-main;
    @include responsive {
        margin: $margin-main-mobile;
        gap: $gap-main-mobile;
    }

    &__content {
        @include flex (column, normal, normal, 30px);
        @include responsive {
            gap: $gap-main-mobile
        }

        &__info {
            @include flex (row, space-between, normal, 0);
            width: 100%;
            @include responsive {
                @include flex(column, center, normal, $gap-main-mobile)
            }

            &__left {
                @include flex (column, start, start, $gap-main-mobile);
                width: 100%;

                &__text {
                    &__title {
                        @include font(36px, 500);
                        color: $main-color;
                        @include responsive {
                            font-size: 18px;
                        }
                    }
                    &__location {
                        @include font(18px, 500);
                        @include responsive {
                            font-size: 14px;
                        }
                    }
                }

                &__tags {
                    @include flex (row, normal, normal, 20px);
                    width: 100%;
                    list-style: none;

                    &__tag {
                        @include font(14px, 700);
                        @include flex(row, center, center , 0);
                        background-color: $main-color;
                        border-radius: $radius-box;
                        padding: 3px 40px;
                        color: white;
                        @include responsive {
                            font-size: 10px;
                            padding: 3px 20px;
                        }
                    }
                }

            }
            &__right {
                @include flex (column, space-between, end, 0);
                width: 100%;
                @include responsive {
                    @include flex(row-reverse, space-between, center, 0)
                }

                &__host {
                    @include flex (row, end, center, 20px);
                    @include responsive {
                        gap: 10px;
                    }
                    &__name {
                        @include font(18px, 500);
                        color: $main-color;
                        text-align: right;
                        white-space: pre-line;
                        @include responsive {
                            font-size: 12px;
                        }
                    }
                    &__picture {
                        height: 64px;
                        width: 64px;
                        border-radius: $radius-rounded;
                        object-fit: cover;
                        @include responsive {
                            height: 32px;
                            width: 32px;
                        }
                    }
                }
                &__rate {
                    @include flex (row, center, center, 0);
                    list-style: none;

                    &__star {
                        @include flex (row, center, end, 0);
                        fill: currentColor;
                        height: 36px;
                        width: 36px;
                        @include responsive {
                            height: 18px;
                            width: 18px;
                        }
                     }
                }
            }
        }
        &__details {
            @include flex (row, start, start, 76px);
            @include responsive {
                @include flex(column, center, center, $gap-main-mobile);
            }

            &__item {
                flex: 1;
                @include flex (column, start, normal, 0);
                @include responsive {
                    width: 100%;
                }

                &__list {
                    list-style: none;
                }
            }

        }

    }
}
.about {
    margin: $margin-main;
    @include flex (column, center, center, $gap-main);
    @include responsive {
        margin: $margin-main-mobile;
        gap: $gap-main-mobile;
    }

    &__content {
        @include flex (column, center, center, 30px);
        list-style: none;   
        width: 80%; 
        @include responsive {
            width: 100%;
        } 
        
        &__item {
            width: 100%;
        }
    }
}
.notfound {
    @include flex(column, center, center, 139px);
    padding-bottom: 139px;
    @include responsive {
        gap: 113px;
        padding-bottom: 113px;
    }
    &__title {
        @include font(288px, 700);
        color: $main-color;
        @include responsive {
            font-size: 96px;
        }
    }
    &__text {
        @include font(36px, 500);
        color: $main-color;
        text-align: center;
        width: 80%;
        @include responsive {
            font-size: 18px;
        }

    }
    &__link {
        @include font(18px, 500);
        color: black;
        @include responsive {
            font-size: 14px;
        }

    }
}


// rating
.star-active {
    color: $main-color;
}
.star-inactive {
    color: $grey;
}
