// color
$main-color: #FF6060;
$grey: rgba(227, 227, 227, 1);
$grey-light: rgba(246, 246, 246, 0.45);
// gradient
$color-gradient-start: rgba(255, 255, 255, 0);
$color-gradient-middle-1: rgba(10, 10, 10, 0);
$color-gradient-middle-2: rgba(4, 4, 4, 0.41);
$color-gradient-end: rgba(0, 0, 0, 1);
@mixin color-gradient {
    background: linear-gradient(
        180deg,
        $color-gradient-start 0%,
        $color-gradient-middle-1 33%,
        $color-gradient-middle-2 66%,
        $color-gradient-end 100%
    );
}

// radius
$radius-box: 25px;
$radius-card: 10px;
$radius-rounded: 50%;

// padding/margin
$padding-main: 50px 100px;
$padding-header: 50px 100px 0 100px;
$gap-main: 50px;
$padding-main-mobile: 20px;
$padding-header-mobile: 20px 20px 0 20px;
$gap-main-mobile: 20px;
@mixin main-desktop ($padding) {
    margin: auto;
    max-width: 1440px;
    padding: $padding;
}

// font
@mixin font ($size, $weight){
    font-family: 'monsterat', sans-serif;
    line-height: 143%;
    font-size: $size;
    font-weight: $weight;
}

// flexbox
@mixin flex ($direction, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

// background
@mixin background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// responsive
$breakpoint-mobile: 768px;
$breakpoint-tablette: 1024px;
@mixin responsive-mobile {
    @media (max-width: $breakpoint-mobile) { 
        @content;
    }
}
@mixin responsive-tablette {
    @media (max-width: $breakpoint-tablette) {
        @content;
    }
}

// transition
@mixin transition {
    transition: all 0.3s ease;
    @content
}

// Global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Components
.header {
    @include main-desktop($padding-header);
    @include flex (row, space-between, center, 0);
    @include responsive-mobile {
        padding: $padding-header-mobile;
    };
    &__logo {
        height: 68px;
        width: auto;
        @include responsive-mobile {
            width: 145px;
        }
    }
    &__navbar{
        @include flex (row, center, center, 57px);
        @include responsive-mobile {
            gap: 26px;
        }
        &__link {
            text-decoration: none;
            color: black;
            width: 100%;
            white-space: nowrap;
            @include font(24px, 500);
            @include responsive-mobile {
                font-size: 12px;
                text-transform: uppercase;
                text-align: end;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.footer {
    background-color: black;
    color: white;
    height: 209px;
    @include main-desktop(0);
    @include flex (column, center, center, 24px);
    @include font(24px, 500); 
    @include responsive-mobile {
        font-size: 12px;
    }
    &__text {
        @include responsive-mobile {
            width: 30%;
            text-align: center;
        }
    }
}
.banner {
    height: 223px;
    width: 100%;
    border-radius: $radius-box;
    @include background-image;
    @include responsive-mobile {
        height: 111px;
    };
    &__overlay {
        background-color: rgba($color: #000000, $alpha: 0.6);
        width: 100%;
        height: 100%;
        padding: 0 30px;
        border-radius: $radius-box;
        @include flex(column, center ,center ,0);
        @include responsive-mobile {
            align-items: start;
        }
        &__title {
            @include font(48px, 700);
            @include responsive-mobile {
                @include font(24px, 700);
            };
        }
    }
}
.collapse {
    @include flex (column, normal, normal, 0);
    &__title {
        background-color: $main-color;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        @include flex (row, space-between, center, 0);
        &__text {
            @include font(18px, 700);
            @include responsive-mobile {
                font-size: 13px
            }
        }
        &__icon {
            width: 24px;
            fill: currentColor;
            @include transition;
            @include flex (row, center, center, 0);
            @include responsive-mobile {
                width: 16px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__content {
        background-color: $grey-light;
        border-radius: 5px 5px 10px 10px;
        overflow: hidden;
        @include transition {
            max-height: 0;
        }
        &__text {
            padding: 10px;  
            @include font(18px, 400); 
            @include responsive-mobile {
                font-size: 12px;
            }         
        }
    }
}
.collapseOpen {
    overflow: hidden;
    @include flex (column, normal, normal, 0);
    &__title {
        background-color: $main-color;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        @include flex (row, space-between, center, 0);
        &__text {
            @include font(18px, 700);
            @include responsive-mobile {
                font-size: 13px
            }
        }
        &__icon {
            width: 24px;
            fill: currentColor;
            @include transition {
                transform: rotate(-180deg);
            }
            @include flex (row, center, center, 0);
            @include responsive-mobile {
                width: 16px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__content {
        background-color: $grey-light;
        border-radius: 5px 5px 10px 10px;
        @include transition {
            max-height: 200px;
        }
        &__text {
            padding: 10px;  
            @include font(18px, 400); 
            @include responsive-mobile {
                font-size: 12px;
            }         
        }
    }
}

.slideshow {
    height: 415px;
    width: 100%;
    border-radius: $radius-box;
    color: white;
    // @include flex(column, space-between, space-between, 0);
    @include background-image;
    @include responsive-mobile {
        height: 255px;
        border-radius: $radius-card;
    }
    &__arrows {
        height: 100%;
        @include flex (row, space-between, center, 0);
        &__arrow {
            width: 48px;
            height: 80px;
            margin: 20px;
            @include responsive-mobile {
                height: 20px;
                width: 12px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__text {
        text-align: center;
        padding-bottom: 10px;
        transform: translateY(-100%);
    }
}

// Pages
.home {  
    color: white;
    @include main-desktop($padding-main);
    @include flex (column, center, center, $gap-main);
    @include responsive-mobile {
        padding: $padding-main-mobile;
        gap: $gap-main-mobile;
    };
    &__content {
        width: 100%;
        background-color: rgba(246, 246, 246, 0.45);
        border-radius: $radius-box;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding: 50px;
        @include responsive-mobile {
            background-color: currentColor;
            padding: 0;
            @include flex(column, center, center, $gap-main-mobile);
        }
        &__card {
            height: 340px;
            width: 100%;
            border-radius: 10px;
            @include background-image;
            @include responsive-mobile{
                height: 255px;
            }

            &__overlay {
                width: 100%;
                height: 100%;
                border-radius: $radius-card;
                color: white;
                text-decoration: none;
                @include color-gradient;
                @include flex (row, left, end, 0);
                &hover {
                    cursor: pointer;
                }
                &__title {
                    margin: 10px;
                    width: 100%;
                    @include font(18px, 700);
                }    
            }
        }
    }
}
.rent {
    @include main-desktop($padding-main);
    @include flex (column, normal, normal, $gap-main);
    @include responsive-mobile {
        padding: $padding-main-mobile;
        gap: $gap-main-mobile;
    }
    &__content {
        @include flex (column, normal, normal, 30px);
        @include responsive-mobile {
            gap: $gap-main-mobile
        }
        &__info {
            width: 100%;
            @include flex (row, space-between, normal, 0);
            @include responsive-tablette {
                @include flex(column, center, normal, $gap-main-mobile)
            }
            &__left {
                flex: 3;
                width: 100%;
                @include flex (column, start, start, $gap-main-mobile);
                &__text {
                    &__title {
                        color: $main-color;
                        @include font(36px, 500);
                        @include responsive-mobile {
                            font-size: 18px;
                        }
                    }
                    &__location {
                        @include font(18px, 500);
                        @include responsive-mobile {
                            font-size: 14px;
                        }
                    }
                }
                &__tags {
                    width: 100%;
                    list-style: none;
                    @include flex (row, normal, normal, 20px);
                    &__tag {
                        background-color: $main-color;
                        border-radius: $radius-box;
                        padding: 3px 40px;
                        color: white;
                        @include font(14px, 700);
                        @include flex(row, center, center , 0);
                        @include responsive-mobile {
                            font-size: 10px;
                            padding: 3px 20px;
                        }
                    }
                }

            }
            &__right {
                flex: 1;
                width: 100%;
                @include flex (column, center, end, 20px);
                @include responsive-tablette {
                    @include flex(row-reverse, space-between, center, 0)
                }
                &__host {
                    @include flex (row, end, center, 20px);
                    @include responsive-mobile {
                        gap: 10px;
                    }
                    &__name {
                        color: $main-color;
                        text-align: right;
                        white-space: pre-line;
                        @include font(18px, 500);
                        @include responsive-mobile {
                            font-size: 12px;
                        }
                    }
                    &__picture {
                        height: 64px;
                        width: 64px;
                        border-radius: $radius-rounded;
                        object-fit: cover;
                        @include responsive-mobile {
                            height: 32px;
                            width: 32px;
                        }
                    }
                }
                &__rate {
                    list-style: none;
                    @include flex (row, center, center, 0);
                    &__star {
                        fill: currentColor;
                        height: 36px;
                        width: 36px;
                        @include flex (row, center, end, 0);
                        @include responsive-mobile {
                            height: 18px;
                            width: 18px;
                        }
                     }
                }
            }
        }
        &__details {
            @include flex (row, start, start, 76px);
            @include responsive-mobile {
                @include flex(column, center, center, $gap-main-mobile);
            }
            &__item {
                flex: 1;
                @include flex (column, start, normal, 0);
                @include responsive-mobile {
                    width: 100%;
                }
                &__list {
                    list-style: none;
                }
            }
        }
    }
}
.about {
    @include main-desktop($padding-main);
    @include flex (column, center, center, $gap-main);
    @include responsive-mobile {
        padding: $padding-main-mobile;
        gap: $gap-main-mobile;
    }
    &__content {
        list-style: none;   
        width: 80%; 
        @include flex (column, center, center, 30px);
        @include responsive-mobile {
            width: 100%;
        } 
        &__item {
            width: 100%;
        }
    }
}
.notfound {
    padding-bottom: 139px;
    @include flex(column, center, center, 139px);
    @include responsive-mobile {
        gap: 113px;
        padding-bottom: 113px;
    }
    &__title {
        color: $main-color;
        @include font(288px, 700);
        @include responsive-mobile {
            font-size: 96px;
        }
    }
    &__text {
        color: $main-color;
        text-align: center;
        width: 80%;
        @include font(36px, 500);
        @include responsive-mobile {
            font-size: 18px;
        }
    }
    &__link {
        color: black;
        @include font(18px, 500);
        @include responsive-mobile {
            font-size: 14px;
        }
    }
}

// rating
.star-active {
    color: $main-color;
}
.star-inactive {
    color: $grey;
}
